@model iBase_ASP_DOT_NET.Models.PlaylistTable

@{
    ViewBag.Title = "Delete";
}
<h3>Are you sure you want to delete the playlist @Html.DisplayFor(model => model.Name)?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserTable.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTable.Username)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="form-actions">
            <div class="col-md-offset-6 col-md-6">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default">@Html.ActionLink("Cancel", "Index")</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-default">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
