@model iBase_ASP_DOT_NET.Models.TrackTable
@{
    ViewBag.Title = "Add";
}
<h3>Add @Html.DisplayFor(model => model.Name) to Playlist</h3>

@using (Html.BeginForm())
{
    <div class="form-group" style="margin: 2    em 0em;">
        <h4 class="col-md-3">Please choose the Playlist:</h4>
        <div class="col-md-3">
            @Html.DropDownList("playlist", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiscNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DurationMS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DurationMS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Explicity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Explicity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Href)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Href)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Popularity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Popularity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PreviewURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PreviewURL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrackNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrackNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArtistTable.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArtistTable.Name)
        </dd>
    </dl>
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-offset-6 col-md-6">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default">@Html.ActionLink("Cancel", "Index")</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-default">Add</button>
                </div>
            </div>
        </div>
    </div>
}