@model iBase_ASP_DOT_NET.Models.TrackTable

@{
    ViewBag.Title = "Details";
}

<h2>Details for: @Html.DisplayFor(model => model.Name)</h2>
<div class="col-sm-6 col-md-6 col-xs-12">
    <div class="thumbnail thumbnail-details">
        <audio controls class="controls">
            <source src="@Html.DisplayFor(model => model.PreviewURL)" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
        <div class="caption">
            <h4>@Html.DisplayFor(model => model.Name)</h4>
            <p>
                <span class="flexed">
                    <b>Album:</b> @Html.DisplayFor(model => model.Album)
                    <span class="text-right">
                        Disc @Html.DisplayFor(model => model.DiscNumber)/
                        <span class="glyphicon glyphicon-music" aria-hidden="true"></span>@Html.DisplayFor(model => model.TrackNumber)
                    </span>
                </span>
            </p>
            <p>
                <span class="flexed">
                    <b>Duration:</b> @Html.DisplayFor(model => model.DurationMS)
                    <span class="text-right">Explicity @Html.DisplayFor(model => model.Explicity)</span>
                </span>
            </p>
            <p>
                <span class="flexed">
                    <b>Popularity:</b> @Html.DisplayFor(model => model.Popularity)%
                    <span class="text-right">Link: <a class="tracklink glyphicon glyphicon-new-window" aria-hidden="true" href="@Html.DisplayFor(model => model.Href)"></a></span>
                </span>
            </p>
            <p><b>Type:</b> @Html.DisplayFor(model => model.Type)</p>
            <p><b>Artist:</b> @Html.DisplayFor(model => model.ArtistTable.Name)</p>
        </div>
    </div>
</div>
<img style="float: left;" class="albumart2" src="http://www.designformusic.com/wp-content/uploads/2015/10/insurgency-digital-album-cover-design.jpg" alt="@Html.DisplayFor(model => model.ImageURL)">

<div class="col-md-offset-2 col-md-6" style="clear: both; ">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">@Html.ActionLink("Cancel", "Index")</button>
        </div>
        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</button>
        </div>
    </div>
</div>
