@model PagedList.IPagedList<iBase_ASP_DOT_NET.Models.TrackTable>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Tracks";
}

<h2>Tracks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Track", FormMethod.Get)) {

    <div class="form-horizontal">
        Popularity: <input name="popularity" type="number" />
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" class="btn btn-default" />
    </div>
}

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            @Html.ActionLink("Name", "Index",
                new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }) 
        </th>
        <th>
            Album
        </th>
        <th>
            DiscNumber
        </th>
        <th>
            Duration in MS
        </th>
        <th>
            Explicity
        </th>
        <th>
            Href
        </th>
        <th>
            @Html.ActionLink("Popularity", "Index",
                new { sortOrder = ViewBag.PopularitySortParm, currentFilter = ViewBag.CurrentFilter }) 
        </th>
        <th>
            Image URL
        </th>
        <th>
            Preview URL
        </th>
        <th>
            @Html.ActionLink("Number", "Index",
                new { sortOrder = ViewBag.NumberSortParm, currentFilter = ViewBag.CurrentFilter }) 
        </th>
        <th>
            @Html.ActionLink("Type", "Index",
                new { sortOrder = ViewBag.TypeSortParm, currentFilter = ViewBag.CurrentFilter }) 
        </th>
        <th>
            Artist Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(model => item.Id)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Album)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DurationMS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Explicity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Href)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Popularity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreviewURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrackNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArtistTable.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new {
        page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter = ViewBag.CurrentFilter
    }))