@model PagedList.IPagedList<iBase_ASP_DOT_NET.Models.TrackTable>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Tracks";
}

<h2>
    Tracks
    <a style="float: right" href="Track/Create" class="btn btn-secondary" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
</h2>

@using (Html.BeginForm("Index", "Track", FormMethod.Get))
{
    <div class="filterbox">
        <input name="popularity" type="number" placeholder="Popularity bigger than" style="float: left" class="btn btn-default"/>
        <div class="form-horizontal">
            <div class="input-group">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Search by name ..." })
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-secondary" value="Search" />
                </span>
            </div>
        </div>
    </div>
}
@foreach (var item in Model)
{
    <div class="col-sm-6 col-md-4 col-xs-6">
        <div class="thumbnail thumbnail-index">
            <img class="albumart" src="http://www.designformusic.com/wp-content/uploads/2015/10/insurgency-digital-album-cover-design.jpg" alt="@Html.DisplayFor(modelItem => item.ImageURL)">
            <audio controls class="controls">
                <source src="@Html.DisplayFor(modelItem => item.PreviewURL)" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
            <div class="caption">
                <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                <p>
                    <span class="flexed">
                        <b>Album:</b> @Html.DisplayFor(modelItem => item.Album)
                        <span class="text-right">
                            Disc @Html.DisplayFor(modelItem => item.DiscNumber)/
                            <span class="glyphicon glyphicon-music" aria-hidden="true"></span>@Html.DisplayFor(modelItem => item.TrackNumber)
                        </span>
                    </span>
                </p>
                <p>
                    <span class="flexed">
                        <b>Duration:</b> @Html.DisplayFor(modelItem => item.DurationMS)
                        <span class="text-right">Explicity @Html.DisplayFor(modelItem => item.Explicity)</span>
                    </span>
                </p>
                <p>
                    <span class="flexed">
                        <b>Popularity:</b> @Html.DisplayFor(modelItem => item.Popularity)%
                        <span class="text-right">Link: <a class="tracklink glyphicon glyphicon-new-window" aria-hidden="true" href="@Html.DisplayFor(modelItem => item.Href)"></a></span>
                    </span>
                </p>
                <p><b>Type:</b> @Html.DisplayFor(modelItem => item.Type)</p>
                <p><b>Artist:</b> @Html.DisplayFor(modelItem => item.ArtistTable.Name)</p>
                <div class="edit" style="text-align: center">
                    <div style="display: inline-block;">
                        <span class="btn-left glyphicon glyphicon-pencil" aria-hidden="true"></span>@Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        <span class="btn-right glyphicon glyphicon-info-sign" aria-hidden="true"></span>@Html.ActionLink("Details", "Details", new { id = item.Id })
                        <span class="btn-right glyphicon glyphicon-remove" aria-hidden="true"></span>@Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        <span class="btn-right glyphicon glyphicon-info-sign" aria-hidden="true"></span>@Html.ActionLink("Add", "Add", new { id = item.Id })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div style="text-align: center; clear:left;">
    <div style="display: inline-block;">
        <div class="row">
            <div>
                @Html.PagedListPager(Model, page => Url.Action("Index",
                new
                {
                    page,
                    sortOrder = ViewBag.CurrentSort,
                    currentFilter = ViewBag.CurrentFilter
                }))
            </div>
        </div>
    </div>
</div>